body {
  text-align: center;
}

h1 {
  background-color: darkkhaki;
  text-align: center;
  margin: 50px;
  padding: 10px;
  border-radius: 10px;
}

#Question-Card {
  border: burlywood 5px solid;
  margin: 50px;
}

.categorie-tags {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.categorie-tags li {
  margin-left: 30px;
  background-color: cornflowerblue;
  border-radius: 10px;
  padding: 20px;
}

footer {
  border: burlywood 5px solid;
  margin: 50px;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
